In [ ]:
# variables
asma = 10

# data types
""" 
1. primitive 
    - integer (int) 5 or 10 or 100
    - string  (str) "asma" or 'sajidh'
    - float   (float) 213.34 or 34.34
    - boolean (bool) True or False

2. non primitive / composite 
    - list          (list)      [1, 2, 3, "asma", 12.4, True]
    - tuple         (tuple)     (1, 2, 3, 4, 3, "asma", 12.4, True)
    - set           (set)       {1, 2, 3, 4, 3, "asma", 12.4, True}
    - dictionary    (dict)      {"name": "asma", "age": 15, 1: 100}

"""

In [ ]:
# variable naming conventions
"""
1. variable should not start with numbers.       1abc = 10
2. variable should not contain spaces.           asma city = "new york"
3. variable can contain digits except starting   abc1 = 10
4. variable can have or start with underscore's  asma_city = "new york"
5. should not use any keywords as variable.      True = "newyork"
"""

In [ ]:
# all the keywords in python
import keyword
print(keyword.kwlist)

In [ ]:
# del
a = 10
a = 30
b = 20

del a
print(a)

In [ ]:
# input

""" Primitive Data Types Inputs """

# str
name = input("Enter Name: ")
print("Output: ", name)
print("Type: ", type(name))

# int
num = int(input("Enter Number: "))
print("Output: ", num)
print("Type: ", type(num))

# float
salary = float(input("Enter Salary: "))
print("Output: ", salary)
print("Type: ", type(salary))

# bool
facts = bool(input("Facts are True or False..? "))
print("Output: ", facts)
print("Type: ", type(facts))


""" Composite Data Type Inputs """

In [ ]:
# type conversions
""" 
can convert:
    str to int
    str to float
    str to bool
    
    int to float
    float to int
    
"""

num = int(input("Enter Number: "))
print(f"converted output: {float(num)} {type(float(num))}")

num = float(input("Enter Number: "))
print(f"converted output: {int(num)} {type(int(num))}")

num = "123.92"
num = float(num)
num = int(num)
print(num)

In [ ]:
# memory model id
num = "kbdfwbbkjegbk3gbk4g44g4"
print(id(num))

In [ ]:
# Operators
""" 
-Arithmetic Operators
-Relational Operators
-Logical Operators
-Short-hand Assignment Operators
-Membership Operators
-Identity Operators

"""

# Arithmetic Operators
""" 
+, -, *, /, //, %, **
"""
num1 = 10
num2 = 20
print(num1 + num2)

num1 = 10
num2 = 20
print(num1 - num2)

num1 = 10
num2 = 20
print(num1 * num2)

num1 = 28
num2 = 2
print(num1 / num2) # division

num1 = 28
num2 = 2
print(num1 // num2) # division

num1 = 9
num2 = 2
print(num1 % num2) # modulus (remainder)

num1 = 10
num2 = 2
print(num1 ** num2) # exponential

# Relational Operators
""" 
<, >, ==, !=, <=, >=
"""
a = 20
b = 5
print(a < b) # 20 < 5

a = 20
b = 5
print(a > b) # 20 > 5

a = 20
b = 20
print(a == b) # 20 == 20

a = 20
b = 5
print(a != b) # 20 != 5

a = 20
b = 5
print(a <= b) # 20 <= 5

a = 20
b = 5
print(a >= b) # 20 >= 5

# Logical Operators
""" 
and or
"""

a = 10
b = 20

print(a > b and a == b)


a = 20
b = 10
print(a > b or a == b)


# Short-hand Assignment Operators
""" 
+=, -=, *=, /=, //=, %=, **=
"""
a = 50
a += 5 #a = a + 5
print(a)


a = 50
a -= 5 #a = a - 5
print(a)

a = 5
a *= 5 #a = a + 5
print(a)

a = 50
a /= 5 #a = a / 5
print(a)

a = 50
a //= 5 #a = a // 5
print(a)

a = 50
a %= 5 #a = a % 5
print(a)

a = 10
a **= 5 #a = a ** 2
print(a)

# Membership Operators
""" 
in,  not in
"""
n = 20
arr1 = [10, 20, 30]
arr2 = (10, 20, 30)
arr3 = {10, 20, 30}
arr4 = {1: 10, 2: 20, 3: 30}
arr5 = "1021030"

print(n in arr1)
print(n in arr2)
print(n in arr3)
print(n not in arr4)
print(str(n) in arr5)

# Identity Operators
""" 
is, is not (-4, +256)
"""

a = 900
b = 900
print(a == b) # compare values
print(a is b) # compare id's --- id(a) == id(b)
print(a is not b)


name1 = "python"
name2 = "python"
print(name1 == name2)
print(name1 is name2) # id(name1) == id(name2)

n = 123
m = 123
print(n is m, id(n), id(m))

In [ ]:
""" 
non zeroes: True
zeroes: False
"""

In [ ]:
name = " python"
print(name)

In [ ]:
# strings

name = "Asma"
name1 = 'asma'
name2 = """Sajid"""

# name2 = 'Asma"
# name3 = ''asma"

# indexing (+ve, -ve)
name3 = "rayyan"
print(name3[1])
print(name3[4])
print(name3[-5])
print(name3[-2])

In [ ]:
""" 
This is asma's training
This is asma"s training
This is "asma" training
"""

print("This is asma's training")
print('This is asma\'s training')
print("This is \"asma\" training") 
print("""This is "asma" training""")

In [ ]:
# multiline strings
story = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. \
Lorem Ipsum has been the industry's standard dummy text ever \
since the 1500s, when an unknown printer took a galley of type\
and scrambled it to make a type specimen book. \
It has survived not only five centuries, but also the leap into \
electronic typesetting, remaining essentially unchanged. \
It was popularised in the"

print(story)

In [ ]:
# newline and tab space
paragraph = "I am a human being\n\tI am a student"
print(paragraph)

apple-bat-cat-dog

In [ ]:
a = "apple"
b = "bat"
c = "cat"
d = "dog"
print(f"{a}-{b}-{c}-{d}")
print(a, b, c, d, sep="#")

In [ ]:
a = "python"
b = "training"
print(a, end="-")
print(b)

In [ ]:
"""  
  -string concatenation
  -strings mutable or not
  -unicode
  -slicing(+ve, -ve)
"""

In [ ]:
# string concatenation
name = "asma"
course = "python"

name += "-" #asma-
name += "10" #asma-10
name += course #asma-10python
print(name)

# asma-10python

In [ ]:
# strings mutable or not
"""  
mutable = we can change the original value
immutable = we can't change the original value
"""
name = "rayyan"
print(f"Before changing: {id(name)}")

name += "python"
print(f"After Changing: {id(name)}")

print(name)

In [ ]:
arr = [1, 2, 3, 4]
print(f"Before changing: {id(arr)}")

arr[2] = 100
print(f"After Changing: {id(arr)}")

In [ ]:
# unicode
telugu_news = "మరిన్ని బడ్జెట్‌ విశేషాలు! పవన్‌ కల్యాణ్‌ గురించి నిహారిక పంచుకున్న విశేషాలు."
hindi_news = " हिन्दी मे टाइप करे,"
tamil_news = "தமிழ்நாடு செய்திகள்"

print(telugu_news)
print(hindi_news)
print(tamil_news)

In [ ]:
# slicing(+ve, -ve)
# [start:end:step]

word = "India Today"
print(word[0:5:1]) #India
print(word[::]) #India Today
print(word[6:]) #Today
print(word[::2]) #IdaTdy



print(word[::-1]) #yadoT aidnI
print(word[-1::-2]) #ydTadI
print(word[::-2]) #ydTadI

In [ ]:
name = "asma"
number = "989"
# form an id with starting two letters from name and ending two digits from number

unique_id = name[0:2]
unique_id += number[1:3]

print(unique_id) #as89

In [ ]:
# extract the extensions
file = "college.png"
print(file[-3:]) #png
print(file[-3:len(file)]) #png

email1 = "asma@gmail.com"
email2 = "rayyan@yahoo.com"

print(email1[-10:] == "@gmail.com")
print(email2[-10:] == "@gmail.com")

email3 = "asma@hotmail.com"
print(email3[-12:] == "@hotmail.com")

In [ ]:
card = "12345678"

# 1******78
print(card[0] + (len(card)-3)*"*" + card[-2:])

In [ ]:
""" 
  -upper
  -lower
  -capitalize
  -replace
  -count
  -len
"""

In [ ]:
# lower
name = "ASMAsajid123 %$"
name = name.lower()
print(name)

#upper
branch = "Data_science"
branch = branch.upper()
print(branch)

In [ ]:
# capitalize
branch = "data science"
branch = branch.split() # [data, science]
print(branch[0].capitalize(), branch[1].capitalize())

In [ ]:
# replace
word = "a-s-m-a"
print(word.replace("-", ""))

name = "perveensajid"
# perveen-dijas
w = "sajid"
print(name.replace(w, "-"+w[::-1]))

temp = "asmarayyan"
# asmara1212an
print(temp.replace("y", "12"))

In [ ]:
# count
temp = "asmarayyan"
print(temp.count("y")) #2
print(temp.count("a")) #4
print(temp.count("yy")) #1
print(temp.count("asma")) #1

In [ ]:
# len
temp = "asma_rayyan"
print(len(temp))

temp = temp.split("_") # ["asma", "rayyan"]
print(len(temp))

In [ ]:
""" 
-strip
-lstrip
-rstrip
-split
-join
-find
-rfind
-index
"""
# strip
name = "  asma python "
name = name.strip()
print(name)

# lstrip
branch = "  python    "
branch = branch.lstrip()
print(branch)

# rstrip
numbers = "12 345 6  . "
numbers = numbers.rstrip()
print(numbers)

In [ ]:
# split
name = "asmatabbatsum"
print(name.split("t"))

In [ ]:
# join
arr = ["a", "b", "c", "d"]
result = "".join(arr) 
print(result)

#asma python
name = "asma-python-asfw-wereg-ergerg-erh-erh"
name = name.split("-") # ['asma', 'python', 'asfw', 'wereg', 'ergerg', 'erh', 'erh']
print(".".join(name))

In [ ]:
# index
branch = "Pandas"
print(branch.index("d"))
print(branch.index("z"))

In [ ]:
# find
branch = "Pandas"
print(branch.find("d"))
print(branch.find("z"))

In [ ]:
# rfind
branch = "Pandas"
print(branch.rfind("a"))
print(branch.rfind("z"))

In [ ]:
"""
string validation functions
  -startswith
  -endswith
  -isalpha
  -isdigit
  -isalnum
  -isupper
"""

# startswith
sentence = "Here is an Example."
print(sentence[0:4] == "Here") # Here == Here
print(sentence.startswith("Here")) # Here == Here

# endswith
email = "asmekjbvekva@gmail.com"
print(email[-9:] == "gmail.com")
print(email.endswith("gmail.com"))

# isalpha
username = "codewalaFeed"
print(username.isalpha())

# isdigit
phone = "+1(123) 987 273"
print(phone.isdigit())

# isalnum
username = "codewala123"
print(username.isalnum())

# isupper
word = "hello"
print(word[0].isupper())

# islower
word2 = "hello"
print(word2.islower())

In [22]:
""" 
conditional statements
 - if
 - if-else
 - if-elif-else
"""
number = -10
if (number > 0) == True: # True == True
    print(f"Number {number} positive")
else:
    print(f"Number {number} Negative")

Number -10 Negative

In [2]:
""" 
>17 = eligible
else = not eligible
"""
age = 18
if (age > 18):
    print("Eligible for vote")
elif (age <= 18 and age > 0) == True:
    print("Not Eligible for vote")
else:
    print("Invalid age")

Not Eligible for vote

In [ ]:
""" 
<= 0 unborn
1 to 5 = baby
6 to 10 = kid
11 to 18 = boy
19 to 60 = man
61 to 100 = old
> 100 = immortal
"""
age = 19
if (age>=1 and age <=5):
    print("Baby")
elif (age>=6 and age<=10):
    print("Kid")
elif (age>=11 and age<=18):
    print("Boy")
elif (19<=age<=60):
    print("Man")
elif (61<=age<=100):
    print("Old")
elif (age>100):
    print("Immortal")
else:
    print("Invalid")

In [6]:
number = 18
if (number > 10):
    print("Greater than 10")
if (number % 2 == 0):
    print("Even")

Greater than 10
Even

In [11]:
"""  
greater than 50
  even = high even
  odd = high odd
less than 50
  even = low even
  odd = low odd
"""
number = 50
if (number > 50):
    if (number%2 == 0):
        print(f"High Even {number}")
    else:
        print(f"High odd {number}")
elif (number == 50):
    print(f"Medium {number}")
else:
    if (number%2 == 0):
        print(f"Low Even {number}")
    else:
        print(f"Low odd {number}")

Low odd 49

                                ROUGH
# add inputs for the below three subjects
- maths
- science
- history

In [ ]:
maths = float(input("enter math score: "))
science = float(input("enter science score: "))
history = float(input("enter history score: "))